 
 /* temporary */
 
 body {
  background-color: #accab0;
  background:#e1efbb url('https://www.teahub.io/photos/full/35-352663_wallpaper-leaves-green-plant-aesthetic-nature-background-green.jpg');
  color: rgb(255, 255, 255);
  padding: 40px;
  font-family: Arial;
  text-align: center;
} 
 



.Home {
  display: flex;
  padding-left: 0;
  align-items: stretch;
  flex-grow: 1;
  background-color:#71a489e3
}

.Home-nav {
  border-right: thick double #223117;
  flex-basis: 20rem;
  /* background-color: #20a45ee3 ; */
  z-index: 1;
}

/* .Home-nav {
  border-right:
} */

.Home-heading {
  border-right-style :dotted
}




/* .Home-repoContainer {
  background-color: #20a45ee3
} */



/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
